body {
    font-family: Arial, sans-serif;
    background-color: #caebb2;
}

#root {
    font-family: Arial, sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    background-color: #caebb2;
}
.square {
    width: 130px;
    height: 130px;
    background-color: #121212;
    color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 5px #999;
    transition: 0.5s;
    font-size: 5.2em;
    font-weight: 900;
    cursor: pointer;
    transition: 1s;
}

.square:not(:first-child){
    margin-left: 2px;
    margin-bottom: 2px;
}
    
.square:hover {
    background-color: #1c1c84;
}   

.board-row{
    display: flex;
}
  
.board-row:after {
clear: both;
content: "";
display: table;
}
  .winner-message {
    font-size: 24px;
    color: #28a745;
    font-weight: bold;
    animation: winnerAnimation 1s ease-in-out infinite;
  }
  
  @keyframes winnerAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
      color: #dc3545;
    }
    100% {
      transform: scale(1);
    }
  }
  